@charset "utf-8";

* {
    box-sizing: border-box;
}

body a {
 text-decoration-line: none;
 color: black;
}

header {
    height: 85px;
    width: 100%;
    position: fixed;
    top: 15px;
    left: 0;
    opacity: 0.95;
    z-index: 10;
}

.container {
    width: 65%;
    margin: 0 auto;
}

.header-top {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
}

.header-logo {
    width: 15%;
    line-height: 0.2;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
}

.header-logo p {
    font-size: 12px;
}

.header-list {
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

.header-list ul {
  padding-inline-start: 20px;
}

.nab-list li {
    list-style: none;
    float: left;
    margin: 15px 30px;
}

.nab-list li a:hover {
    opacity: 0.6;
}

.header-btn {
  width: 7%;
}

.header-btn img {
  height: 80px;
  margin: 0 auto;
}

.header-btn img:hover {
  opacity: 0.6;
}

.none {
  display: none;
}

.menu-btn {
    position: fixed;
    top: 16px;
    right: 40px;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: black;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-list {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-list {
    left: 0;/*メニューを画面内へ*/
}

.menu-list ul {
    padding: 70px 10px 0;
}

.menu-list ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}

.menu-list ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-list ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

main {
    height: auto;
}

.top-wrapper {
  height: 300px;
  background-image: url(https://github.com/sakuraisekkothin/sakuraisekkotuin.github.io/blob/main/sUIlKcjdvgcENSk1749534643_1749534712.jpg?raw=true);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  margin-top: -30px;
}

.top-wrapper h1{
  font-size: 40px;
  line-height: 0.1;
  text-align: center;
  padding-top: 170px;
}

.top-wrapper p{
  text-align: center;
}

.content-flex {
    display: flex;
    width: 90%;
    margin: 40px auto 0;
}

.sidebar {
    width: 27%;
    margin-left: -20px;
}

.content {
    width: 70%;
    margin: 0 0 0 auto;
}

.sidebar li {
    list-style: none;
    border: 4px solid #27B0CB;
    margin: 20px 0;
}

.sub-title {
    background: linear-gradient(-30deg, rgb(39, 150, 203),rgb(39, 176, 203));
    color: white;
    padding-left: 20px;
    position: relative;
}

.sub-title::before {
    content: "";
    width: 6px;
    height: 70%;
    display: block;
    background-color: #fff;
    position: absolute;
    left: 4px;
    top: 15%;
}

.sub-wrapper li {
    border: none;
    border-bottom: 1px solid #27B0CB;
    font-size: 14px;
    position: relative;
    margin: 15px 0 12px -30px;
    padding-left: 35px;
    padding-bottom: 5px;
    width: 105%;
}

.sub-wrapper a {
    color: #333;
    display: block;
}

.sub-wrapper a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0a4";
  position: absolute;
  top: 3px;
  left : 1em; /*左端からのアイコンまで*/
  color: #27B0CB; /*アイコン色*/
}

.sub-wrapper a::after {
    content: "—";
    color: #fff;
    position: absolute;
    top: 11px;
    right: -1px;
}

.sub-wrapper li:hover {
    opacity: 0.6;
}

.side-info li {
    border: none;
    font-size: 14px;
    margin-left: -20px;
    width: 100%;
}

.side-info li span {
    display: block;
    color: #27B0CB;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    width: 99%;
}

.info-br {
  display: none;
}

.content h2 {
    font-size: 28px;
    font-weight: normal;
    border-top: 2px solid #27B0CB;
    border-bottom: 2px solid #27b0cb;
    padding: 15px 0;
}

.content h3 {
    font-size: 21px;
    font-weight: normal;
    color: #fff;
    background: linear-gradient(-30deg, rgb(39, 150, 203),rgb(39, 176, 203));
    padding: 15px;
    margin-bottom: -5px;
}

.mutiuti {
  margin-top: 30px;
}

.content ol {
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding: 0 0.5em;
}

.content ol li {
  position: relative;
  padding: 0.45em 0.5em 0.55em 35px;
  font-weight: 600;
  border-bottom: dashed 1px silver;
}

.content ol li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*数字のデザイン変える*/
  display:inline-block;
  background: #27B0CB;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  /*以下上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content ol p {
  padding-left: 10px;
  margin-top: 10px;
}

.content li {
  list-style: none;
}

.content li h4 {
  position: relative;
  left: -40px;
  border-top: solid 2px  #27B0CB;
  border-bottom: solid 2px  #27B0CB;
  background: #f4f4f4;
  padding: 10px;
  margin-top: 50px;
}

.content li h4::after {
  /*タブ*/
  position: absolute;
  font-family: "Font Awesome 5 Free",'Quicksand','Avenir','Arial',sans-serif;
  font-weight: 900;
  content: '\f0a7\ Question';
  background:  #27B0CB;
  color: #fff;
  left: 0px;
  bottom: 100%;
  border-radius: 5px 5px 0 0;
  padding: 5px 7px 3px;
  font-size: 0.8em;
  line-height: 1;
  letter-spacing: 0.05em;
}

.content ul p {
  position: relative;
  top: -10px;
  left: -30px;
}

.content img {
  width: 100%;
}

.content p {
  padding: 0 3px 0 5px;
}

.contact6 {
    padding-top: 100px;
}

.contact-main {
    display: flex;
    width: 100%;
}

.contact-left {
    width: 55%;
}

.contact-right {
    width: 40%;
}

.contact-logo {
    text-align: center;
    line-height: 0.1;
    padding-right: 5px;
}

.contact-logo h2 {
    font-size: 40px;
    font-weight: 600;
    font-stretch: semi-expanded;
}

.contact-logo p {
    font-weight: 500;
}

.contact6-logo br {
  line-height: 0.4;
}

.contact-logo span {
    font-size: 14px;
    line-height: normal;
}

.Shoplist2 {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.tell {
    width: 50%;
    margin: 10px auto;
    line-height: 1;
}

.tell p {
    font-size: 12px;
    text-align: center;
}

.tell span {
    font-size: 30px;
    font-weight: 600;
}

.btn-reservation2 {
  width: 50%;
  margin-top: 20px;
}

.btn-reservation2 img{
    width: 80%;
    margin-left: 10px;
}

.btn-reservation2 img:hover {
    opacity: 0.7;
}

table {
    border-collapse: collapse;
    border: 2px solid #27b0cb;
    width: 80%;
    margin: 0 auto;
}

table th, table td {
    border: 1px dashed #404040;
    text-align: center;
}

table th {
  background-color: #e3f2f7;
}

.time {
    padding: 3px 10px;
    background-color: #e3f2f7;
}

.week {
    padding: 3px 30px;
}

.time-table p {
  margin-top: 0px;
  padding-left: 50px;
}

.Map iframe {
  height: 310px;
}

footer {
    height: 260px;
    margin-top: 80px;
    padding-top: 5px;
    background-color: #2e2e2e;
    color: #fff;
}

.footer-main {
    display: flex;
    width: 95%;
}

.footer-left {
    width: 65%;
    padding-left: 30px;
}

.footer-right {
    width: 35%;
    margin-top: 10px;
}

.footer-right img {
   height: 200px;
}

.footer-logo {
    line-height: 0.3;
}

.footer-logo h2 {
    font-size: 40px;
    font-weight: 600;
    font-stretch: semi-expanded;
    margin-left: 90px;
}

.footer-logo p {
    font-weight: 500;
    margin-left: 20px;
}

.address {
    font-size: 14px;
    line-height: normal;
    margin-left: 20px;
}

.footer-list li {
    float: left;
    margin-right: 35px;
    font-size: 14px;
    position: relative;
    list-style: none;
}

.footer-list li::before{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    position: absolute;
    left: -12px;
    top: calc(0.75em - 3px);
}

.footer-list li a {
    text-decoration-line: none;
    color: #fff;
}

.footer-list li a:hover {
    text-decoration-line: underline;
}

.footer-list li br {
  display: none;
}

.footer-copy {
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    margin: 13px 0;
}








/* PC1200px向けレイアウト */
@media all and (max-width: 1910px) {
  .nab-list li {
      margin: 15px 28px;
  }
}

@media all and (max-width: 1850px) {
  .nab-list li {
      margin: 15px 25px;
  }
}

@media all and (max-width: 1800px) {
  .nab-list li {
      margin: 15px 23px;
  }
}

@media all and (max-width: 1790px) {
  .contact6 {
    padding-top: 55px;
  }
  .contact-logo br {
    line-height: 0.5;
  }
  .time-table p {
    padding-left: 35px;
  }
}

@media all and (max-width: 1730px) {
  .nab-list li {
    margin: 15px 20px;
  }
  .btn-reservation2 img{
    width: 85%;
  }
}

@media all and (max-width: 1700px) {
  .contact-logo h2 {
    font-size: 37px;
  }
  .contact-logo p {
    font-size: 15px;
  }
  .contact-title h1 {
    padding-top: 50px;
  }
  .btn-reservation2 {
    margin-top: 25px;
  }
  .week {
    padding: 3px 23px;
  }
  .time-table p {
    padding-left: 50px;
  }
}

@media all and (max-width: 1690px) {
  .nab-list li {
    margin: 15px 15px;
  }
  .header-btn {
    margin-right: 20px;
  }
}

@media all and (max-width: 1640px) {
  .time-table p {
    padding-left: 40px;
  }
}

@media all and (max-width: 1570px) {
  .sub-wrapper li {
    padding-left: 28px;
  }
  .sub-wrapper a::before {
    left: 7px;
  }
  .footer-right {
    width: 25%;
    margin-right: 0px;
  }
}

@media all and (max-width: 1500px) {
  .container {
    width: 70%;
  }
  .top-wrapper {
    height: 280px;
  }
  .content-flex {
    margin-top: 30px;
  }
  .content ol li {
    margin-top: -5px;
  }
  .content ul {
    margin-top: 40px;
  }
  .content li h4 {
    margin-top: 30px;
  }
}

@media all and (max-width: 1480px) {
  .time-table p {
    padding-left: 40px;
  }
  .footer-left {
    width: 70%;
  }
  .footer-right {
    width: 30%;
    margin-right: 20px;
  }
}

@media all and (max-width: 1440px) {
  .top-wrapper {
    height: 270px;
  }
}

@media all and (max-width: 1400px) {
  .container {
    width: 75%;
  }
}

@media (max-width: 1380px) {
  .top-wrapper {
    height: 260px;
  }
  .top-wrapper h1{
    font-size: 37px;
    padding-top: 170px;
  }
  .btn-reservation2 img{
    width: 90%;
  }
}

@media (max-width: 1330px) {
  .week {
    padding: 3px 21px;
  }
  .time-table p {
  padding-left: 25px;
  }
  .footer-left {
    padding-left: 10px;
  }
  .footer-logo p {
    font-size: 14px;
  }
  .footer-right {
   margin-right: 40px;
  }
}

@media all and (max-width: 1300px) {
  .nab-list li {
    margin: 15px 12px;
  }
  .content-flex {
    width: 100%;
    margin-left: -8px;
  }
  .sidebar {
    width: 28%;
  }
  .info-br {
    display: block;
  }
  .content ol p {
    padding-left: 0px;
  }
  .btn-reservation2 {
    margin-top: 25px;
  }
}

@media (max-width: 1290px) {
  .top-wrapper {
    height: 250px;
  }
  .top-wrapper h1{
    padding-top: 160px;
  }
  footer {
    height: 245px;
  }
  .footer-logo h2 {
    font-size: 35px;
    margin-left: 70px;
  }
  .footer-right img {
   height: 190px;
   margin-right: 20px;
  }
  .footer-copy {
    margin: 8px 0 0;
  }
}

@media (max-width: 1250px) {
  .top-wrapper {
    height: 240px;
  }
  .contact-logo {
    padding-right: 15px;
  }
  .btn-reservation2 {
    margin-top: 28px;
  }
}

@media all and (max-width: 1220px) {
  header {
    height: 70px;
  }
  .header-logo {
    width: 17%;
    margin-top: 8px;
    line-height: 0.15;
  }
  .header-logo p {
    font-size: 11px;
  }
  .nab-list li {
    font-size: 14px;
    margin: 12px 12px 0;
  }
  .header-btn img {
    height: 70px;
  }
  .top-wrapper h1 {
    font-size: 35px;
    padding-top: 150px;
  }
  .top-wrapper p {
    margin-top: -5px;
  }
  .content-flex {
    margin-top: 20px;
  }
  .sub-wrapper li {
    padding-left: 26px;
  }
}

@media (max-width: 1200px) {
  .top-wrapper {
    height: 230px;
  }
  .content ul li h4 {
    width: 107%;
  }
  .contact-logo h2 {
    font-size: 32px;
  }
  .contact-logo p {
    font-size: 13px;
  }
  .tell span {
    font-size: 27px;
  }
  .week {
    padding: 3px 17px;
  }
  table {
    font-size: 15px;
  }
  .time-table p {
    padding-left: 30px;
  }
  .Map iframe {
    height: 280px;
  }
}

@media all and (max-width: 1140px) {
  .nab-list li {
    margin: 12px 10px;
  }
  .top-wrapper {
    height: 220px;
  }
  .top-wrapper h1{
    padding-top: 140px;
  }
  .content-flex {
    width: 110%;
    margin-left: -52px;
  }
  footer {
    height: 225px;
  }
  .footer-logo h2 {
    font-size: 29px;
  }
  .footer-logo p {
    font-size: 13px;
  }
  .footer-list li {
    font-size: 13px;
  }
  .footer-right img {
   height: 170px;
   margin-right: 0;
  }
}

@media (max-width: 1125px) {
  footer {
    margin-top: 50px;
  }
}

@media all and (max-width: 1100px) {
  .nab-list li {
    margin: 12px 8px;
  }
  .header-btn {
    margin-right: 25px;
  }
  .top-wrapper {
    background-image: url(https://raw.githubusercontent.com/sakuraisekkothin/sakuraisekkotuin.github.io/refs/heads/main/sUIlKcjdvgcENSk1749534643_1749534713.jpg);
  }
  .content-flex {
    width: 110%;
    margin-left: -50px;
  }
  .week {
    padding: 3px 15px;
  }
  .footer-logo br {
    display: none;
  }
  .address br {
    display: block;
  }
  .address {
    margin-top: 17px;
    margin-bottom: -3px;
  }
  .footer-list li {
    line-height: 1.3;
  }
  .footer-copy {
    margin: 5px 0 0;
  }
}

@media all and (max-width: 1050px) {
  .container {
    width: 80%;
  }
  .contact-title h1 {
    font-size: 70px;
  }
  .tell span {
    font-size: 25px;
  }
  .btn-reservation2 img{
    width: 85%;
  }
  .week {
    padding: 3px 14px;
  }
  .time-table p {
    padding-left: 40px;
  }
}

/* タブレット向けレイアウト */
@media (max-width: 998px) {
  p {
    font-size: 15px;
  }
  header {
    height: 65px;
  }
  .header-logo h2 {
    font-size: 22px;
  }
  .nab-list li {
    font-size: 13px;
    margin: 10px 9px 0;
  }
  .header-btn img {
    height: 65px;
  }
  .sidebar li {
    margin: 15px 0;
  }
  .sub-title h4 {
    font-size: 15px;
    margin: 16px auto;
  }
  .sub-wrapper li {
    width: 110%;
    margin: 15px 0 12px -30px;
  }
  .sub-wrapper a {
    font-size: 13px;
  }
  .side-info li {
    font-size: 13px;
    margin-left: -20px;
  }
  .content {
    width: 71%;
  }
  .content h2 {
    font-size: 26px;
    padding: 13px 0;
  }
  .content h3 {
    font-size: 19px;
    padding: 13px;
    margin-top: 12px;
  }
  .content ol li {
    margin-top: -8px;
  }
  .content ol p {
    margin-top: 8px;
  }
  .content li h4 {
    font-size: 15px;
    margin-top: 20px;
  }
  .content ul p {
    top: -15px;
    left: -38px;
  }
  .btn-reservation2 img{
    width: 90%;
  }
  .time-table p {
    padding-left: 20px;
  }
  footer {
    height: 200px;
  }
  .footer-left {
    width: 75%;
    margin-left: -10px;
  }
  .footer-right {
    width: 25%;
  }
  .footer-right img {
    height: 150px;
  }
  .footer-list {
    margin-left: -10px;
  }
}

@media all and (max-width: 950px) {
  .btn-reservation2 img{
    width: 95%;
  }
  .week {
    padding: 3px 13px;
  }
  .footer-right img {
    margin-right: 50px;
  }
}

@media (max-width: 930px) {
  .header-logo {
    width: 22%;
  }
  .header-list ul {
    padding-inline-start: 30px;
  }
  .nab-list li {
    margin: 0px 15px;
  }
  .content-flex {
    width: 117%;
    margin-left: -70px;
  }
  .content {
    width: 72%;
  }
}

@media all and (max-width: 920px) {
  .contact6 {
    padding-top: 40px;
  }
  .week {
    padding: 3px 12px;
  }
}

@media all and (max-width: 900px) {
  .top-wrapper {
    height: 210px;
  }
  .top-wrapper h1{
    font-size: 34px;
  }
}

@media all and (max-width: 880px) {
  .top-wrapper {
    background-image: url(https://github.com/sakuraisekkothin/sakuraisekkotuin.github.io/blob/main/4lmRb1h3bO5knXJ1749544912_17495449223.jpg?raw=true);
  }
  .tell {
    width: 55%;
    margin-left: -10px;
  }
  footer {
    height: 200px;
  }
  .footer-main {
    width: 100%;
  }
  .footer-left {
    width: 100%;
    padding-left: 0px;
  }
  .footer-right {
    display: none;
  }
}

@media (max-width: 850px) {
  .header-btn {
    margin-right: 30px;
  }
  .content-flex {
    margin-left: -65px;
  }
  .sub-title {
    padding-left: 15px;
  }
  .sub-wrapper li {
    padding-left: 24px;
  }
}

@media all and (max-width: 840px) {
  .contact-logo h2 {
    font-size: 28px;
  }
  .contact-logo p {
    font-size: 12px;
  }
  .tell span {
    font-size: 22px;
  }
  table {
    font-size: 14px;
  }
  .week {
    padding: 3px 11px;
  }
  .Map iframe {
    height: 270px;
  }
}

@media (max-width: 800px) {
  .header-btn {
    margin-right: 32px;
  }
  .content-flex {
    width: 110%;
    margin-left: -30px;
  }
  .sidebar {
    display: none;
  }
  .content {
    width: 100%;
    margin: 0 auto;
  }
  .content ul {
    margin-top: 45px;
  }
  .contact-logo span {
    display: none;
  }
  .Shoplist2 {
    display: block;
  }
  .tell {
    width: 80%;
    margin: 0 auto;
  }
  .tell span {
    font-size: 33px;
  }
  .btn-reservation2 {
    width: 80%;
    margin: 5px auto 15px;
  }
  .week {
    padding: 3px 10px;
  }
  .Map iframe {
    height: 280px;
  }
}

@media (max-width: 745px) {
  .container {
    width: 90%;
  }
  .content-flex {
    width: 100%;
    margin-left: 0px;
  }
  .content h2 {
    font-size: 24px;
  }
}

@media all and (max-width: 725px) {
  table {
    font-size: 13px;
  }
  .time {
    padding: 3px 9px;
  }
  .week {
    padding: 3px 10px;
  }
  .time-table p {
    padding-left: 20px;
  }
}

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
  .header-top {
    width: 100%;
  }
  .header-logo {
    width: 30%;
    margin: 0;
    margin-left: -25px;
    padding: 5px 0;
  }
  .header-logo h2{
    font-size: 15px;
  }
  .header-logo p {
    font-size: 7px;
  }
  .header-list {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .none {
    display: block;
    margin: 0 0 0 auto;
  }
  .top-wrapper {
    height: 200px;
  }
  .top-wrapper h1{
    font-size: 32px;
    padding-top: 120px;
  }
  .content h2 {
    font-size: 21px;
  }
  .contact-main {
    display: block;
  }
  .contact-left ,.contact-right {
    width: 100%;
    margin: 0 auto;
  }
  .content ul li h4 {
    width: 108%;
  }
  .Shoplist2 {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  .tell {
    width: 50%;
  }
  .btn-reservation2 {
    width: 50%;
  }
  .btn-reservation2 img {
    width: 90%;
    margin-top: 10px;
  }
  table {
    width: 90%;
  }
  .time ,.week {
    padding: 3px 15px;
  }
  .time-table p {
    text-align: right;
    padding-right: 35px;
    padding-bottom: 10px;
  }
  .Map iframe {
    height: 300px;
  }
}

@media all and (max-width: 600px) {
  .header-logo {
    margin-left: -20px;
  }
  .tell span {
    font-size: 30px;
  }
}

@media all and (max-width: 550px) {
  .content-flex {
    margin-top: 8px;
  }
  .content h2 {
    font-size: 19px;
    padding: 10px 0;
  }
  .content h3 {
    font-size: 17px;
    margin: 12px 0 -10px;
  }
  .content ol li {
    font-size: 16px;
    padding-bottom: 0.35em;
  }
  .content ol li:before{
    font-size: 13px;
  }
  .content ol p {
    margin-top: 5px;
  }
  .content ul li h4 {
    margin-top: 17px;
    padding: 8px;
    width: 110%;
  }
  .content li h4::after {
    font-size: 0.78em;
  }
  .tell {
    width: 53%;
  }
  .btn-reservation2 {
    width: 47%;
  }
  .btn-reservation2 img {
    margin-top: 17px;
  }
  .time-table p {
    padding-right: 30px;
  }
  footer {
    height: 200px;
  }
  .footer-main {
    width: 110%;
  }
}

@media all and (max-width: 530px) {
  .header-logo {
    margin-left: -15px;
  }
  .menu-btn {
    right: 30px;
  }
}

@media all and (max-width: 500px) {
  .contact-logo {
    padding-left: 10px;
  }
  .content ul li h4 {
    width: 111%;
  }
  .Shoplist2 {
    display: block;
  }
  .tell {
    width: 90%;
  }
  .btn-reservation2 {
    width: 90%;
  }
  .btn-reservation2 img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .time-table p {
    padding-right: 25px;
  }
  footer {
    height: 330px;
  }
  .footer-main {
    text-align: center;
    width: 100%;
  }
  .footer-logo {
    margin-left: 8px;
  }
  .footer-logo h2 {
    margin-left: 13px;
  }
  .footer-list {
    margin-left: 15px;
  }
  .footer-list li {
    width: 40%;
    background-color: #404040;
    padding: 5px;
    margin: 5px 10px;
  }
  .footer-list li::before{
    display: none;
  }
  .footer-list li br {
    display: block;
  }
}

@media all and (max-width: 470px) {
  .header-logo {
    margin-left: -5px;
  }
  .top-wrapper {
    height: 170px;
  }
  .top-wrapper h1{
    padding-top: 100px;
  }
  .content-flex {
    width: 107%;
    margin-top: 3px;
    margin-left: -13px;
  }
  .time-table p {
    padding-right: 15px;
  }
}

@media all and (max-width: 450px) {
  .contact6 {
    padding-top: 15px;
  }
  .contact-logo br {
    display: none;
  }
  .time ,.week {
    padding: 3px 10px;
  }
  .time-table p {
    padding-right: 20px;
  }
}

@media all and (max-width: 420px) {
  .btn-reservation2 img {
    width: 77%;
  }
  .time ,.week {
    padding: 3px 9px;
  }
  .footer-main {
    width: 110%;
    margin-left: -23px;
  }
}

@media all and (max-width: 400px) {
  .header-logo {
    margin-left: 0;
  }
  .menu-btn {
    right: 25px;
  }
  .content-flex {
    margin-left: -11px;
  }
  .content h3 {
    margin: 10px 0 -10px;
  }
  .content ul li h4 {
    width: 113%;
    margin-left: 1px;
  }
  .h3-img {
    margin-top: -10px;
  }
  table {
    width: 100%;
  }
  .time-table p {
    padding-right: 5px;
  }
  .Map iframe {
    height: 280px;
  }
  .address {
    margin-left: 5px;
  }
}

@media all and (max-width: 370px) {
  .top-wrapper {
    height: 160px;
  }
  .top-wrapper h1{
    font-size: 28px;
  }
  .contact6-logo h2 {
    padding-left: 10px;
    padding-right: 0;
  }
  .contact6-logo p {
    display: none;
  }
  .contact-logo p {
    display: none;
  }
  .tell {
    margin: 3px auto;
  }
  .tell span {
    font-size: 25px;
  }
  .btn-reservation2 img {
    width: 80%;
  }
  .time ,.week {
    padding: 3px 9px;
  }
  footer {
    height: 305px;
  }
  .footer-logo h2 {
    font-size: 27px;
  }
  .mini {
    display: none;
  }
}

@media all and (max-width: 350px) {
  .header-logo {
    width: 40%;
    margin-left: -5px;
  }
  .menu-btn {
    right: 20px;
  }
  .top-wrapper {
    height: 150px;
  }
  .top-wrapper h1{
    font-size: 26px;
  }
  .content ul li h4 {
    width: 114%;
  }
  footer {
    height: 295px;
  }
  .footer-list li {
    width: 38%;
    font-size: 11px;
  }
}

@media all and (max-width: 330px) {
  .top-wrapper {
    height: 140px;
  }
  .top-wrapper h1{
    padding-top: 95px;
  }
  .time ,.week {
    padding: 3px 5px;
  }
  .Map iframe {
    height: 250px;
  }
}

@media all and (max-width: 300px) {
  .header-logo {
    margin-left: 0px;
  }
  .top-wrapper {
    height: 130px;
  }
  .top-wrapper h1{
    font-size: 23px;
  }
  .content ul li h4 {
    width: 115%;
  }
  .btn-reservation2 img {
    width: 90%;
  }
  .Map iframe {
    height: 230px;
  }
}
